html, body {
    height: 100%;
    width: 100%;
  }
  
  #parent{
    background: grey;
    position: relative;
    display: flex;
    height: 600px;
    width: 1600px;
  } 
  
  

  canvas {

    border: 1px solid black;
    background-color: lightblue;
    margin: auto;
    padding: auto;
  }
  
  .playerBloc{
    background: red; 
    position: absolute;
    object-fit: scale-down;
        
        background-image: url(ressources/pirate.png);
        background-repeat: no-repeat;
        
        width: 64px;
        height: 40px;
  }
  