html, body {
    height: 100%;
    width: 100%;
  }
  
  #parent{
    background: grey;
    position: relative;
    display: flex;
    height: 600px;
    width: 800px;
  } 
  
  

  canvas {

    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.356);
    background-color: rgb(205, 157, 245);
    width : 100%;
    margin: auto;
    padding: auto;
    image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  }
  
  .playerBloc{
    background: red; 
    position: absolute;
    object-fit: scale-down;
        
        background-image: url(ressources/pirate.png);
        background-repeat: no-repeat;
        
        width: 64px;
        height: 40px;
  }
  